<%- include('partials/header', {mode: 'admin'});  %>
    <div class='content-view'>
        <span class='head-text level0'>Dashboard</span>
    </div>
    <div class="content-view input-group">
        <h3><span class="head-text " >Analysis Report&emsp;</span>
        <button class="btn btn-white btn-outline-light btn-sm" id="showAnalyRe" data-popup='analysis-popup' style="border-radius: 0 !important;" type="button" id="Analysis">Show</button>
        </h3>
    </div>
    <div class="content-view">
        <h3><span class="head-text " style="vertical-align: sub;">Plan&emsp;</span>
        <button class="btn-white" id="createPlan" style="display: inline-block;">Create</button></h3>
        <br>
        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <ul class="open-list mb-0" id="listPlanTable" style="overflow: auto; height: 160px;"></ul>
            </div>
            <div class="col-4">
                <div class="container-fluid border border-light" id="detailPlan" style="display: none;">
                    <h6 class="pt-2">Name : <span id="viewPlanName"></span></h6>
                    <h6 id="viewPlanWidth">Width : </h6>
                    <h6 id="viewPlanHeight">Height : </h6>
                    <div class="row pb-2">
                        <div class="mx-auto mt-3 text-center">
                            <button type="button" class="btn-white mr-5" style="display: inline-block;" id="callEditPlanForm">Edit</button>
                            <button type="button" data-popup="delete-plan-popup" class="btn-white" style="display: inline-block;" id="callDeletePlanForm">Delete</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="planForm" class="content-form" style="display: none;">
        <%- include partials/plan %>
    </div>
    
        <div class='content-view'>
            <div class="row">
                <h3><span class="head-text">Movie&emsp;</span>
                <button class="btn btn-outline-light btn-white" id="createMovie">Create&emsp;</button></h3>
                <select class="form-control-plaintext text-white" id="SelectMovieShow">
                    <option class="form-control-plaintext"id="Now"value="Now">Now</option>
                    <option class="form-control-plaintext" id="History"value="History">History</option>
                </select>
                <div class="col-3">
                    <ul class='open-list' id='Movie' style="overflow: auto; height: 160px;" ></ul>
                </div>
                <div class="col-5" style='padding: 0;'>
                    <div id='m-schedule-table'>
                        <table class="table">
                            <thead>
                                <tr style="background: white; color:black; font-weight:900;">
                                    <th>ScheduleNo</th>
                                    <th>MovieNo</th>
                                    <th>TheatreCode</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Audio</th>
                                    <th>Dimension</th>
                                    <th>Subtitle</th>
                                </tr>
                            </thead>
                            <tbody id='Schedule'>

                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-outline-light btn-white" id="AddSchedule">Add&emsp;</button>
                    <button class="btn btn-outline-light btn-white" id="DeleteSchedule">Delete&emsp;</button>
                </div>
                <div class="col-4">
                    <ul class='open-list' id='MovieInfo' style="overflow: auto; height: 160px;" ></ul>
                    <button class="btn btn-outline-light btn-white" id="EditMovie">Edit&emsp;</button>
                    <button class="btn btn-outline-light btn-white" id="DeleteMovie">Delete&emsp;</button>
                </div>
            </div>              
        </div>

        <div id="movieAndSchduleForm" class="content-form" style="display: none;">
                <%- include partials/movie-schedule %>
        </div>

        <div id="EditMovieForm" class="content-form" style="display: none;"  >
                <%- include partials/edit-movie %>
        </div>
    
        <div id="EditScheduleForm" class="content-form" style="display: none;" >
                    <%- include partials/add-schedule %>
        </div>

        
<%- include partials/foot %> 