<%- include('partials/header', {mode: 'admin'});  %>
        <div class='content-view'>
            <span class='head-text level0'>Dashboard</span>
                <span class="head-text">Movie&emsp;</span>
                <button class="btn btn-outline-light btn-white" id="createMovie">Create&emsp;</button> 
                <select class="form-control-plaintext text-white" id="SelectMovieShow">
                        <option class="form-control-plaintext">Now</option>
                        <option class="form-control-plaintext">History</option>
                    </select>
                    <ul class='open-list' id='Movie' style="overflow: auto; height: 160px;" ></ul>
                    <ul class='open-list' id='Schedule'style="overflow: auto; height: 160px;">
                        <tr>
                            <th>ScheduleNo</th>
                            <th>MovieNo</th>
                            <th>TheatreCode</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Audio</th>
                            <th>Dimension</th>
                            <th>Subtitle</th>
                        </tr>
                    </ul>
                    <button class="btn btn-outline-light btn-white" id="EditSchedule">Edit&emsp;</button>
                    <button class="btn btn-outline-light btn-white" id="DeleteSchedule">Delete&emsp;</button>
                    <ul class='open-list' id='MovieInfo' style="overflow: auto; height: 160px;" ></ul>
                    <button class="btn btn-outline-light btn-white" id="EditMovie">Edit&emsp;</button>          
        </div>

        <div id="movieAndSchduleForm" class="content-form" style="display: none;">
                <%- include partials/movie-schedule %>
        </div>

        <div id="EditMovie"  class="content-form" style="display: none;">
                <%- include partials/edit-movie %>
        </div>
    
        <div id="#EditScheduleForm"  class="content-form" style="display: none;" >
                    <%- include partials/edit-schedule %>
        </div>

        
<%- include partials/foot %> 